main {
    background-image: url("../src/img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.main {
    padding: 20px 0;

    &__logo {
        width: 70px;
        height: 30px;
        background-image: url("../src/img/logo.svg");
        background-repeat: no-repeat;
        background-size: contain;

        @media( min-width: 768px) {
            width: 150px;
            height: 80px;
        }
    }

    &__title {
        padding-top: 80px;
        font-weight: bold;
        font-size: 25px;
        letter-spacing: 0;
        text-align: center;
        color: #F5F108;
        max-width: 700px;
        margin: 0 auto;
        letter-spacing: 10px;
        


        @media(max-width: 480px) {
            padding-top: 20px;
            line-height: 35px;
        }

        @media(min-width: 768px) {
            font-size: 40px;
            padding-top: 120px;
        }

        @media(min-width: 1200px) {
            font-size: 55px;
        }
    }
}

.game{
    margin-bottom: 100px;

    &__title {
        padding-top: 30px;
        font-weight: normal;
        font-size: 25px;
        letter-spacing: .03em;
        text-align: center;
        color: #fff;
        margin-bottom: 30px;

        @media(min-width: 768px) {
            font-size: 32px;
            padding-top: 50px;
        }
        @media(min-width: 1200px) {
            font-size: 46px;
        }
    }

    &__link {
        width: 200px;
        height: 50px;
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
        text-decoration: none;
        color: #1D1D1B;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
        font-family: Determination;
        line-height: 45px;
        transition: all .3s;
        cursor: pointer;

        @media(min-width: 768px) {
            font-size: 22px;
            width: 210px;
            padding: 0 10px;
        }

        &-no {
            background-image: url("../src/img/btn1.svg");
            animation: shadow  1.5s infinite ease-in-out;

            &:hover {
                
            }
        }

        &-yes {
            background-image: url("../src/img/btn2.svg");
            animation: shadow2  1.5s infinite ease-in-out;

            &::before {
                content: "";
                width: 400px;
                height: 100px;
                background-image: url("../src/img/consult.svg");
            }
        }

        &:hover {
            animation-play-state: paused;
        }
    }

    &__wrap {
        position: relative;
        max-width: 245px;
        margin: 0 auto;

        &-brif {

            @media(min-width: 768px) {
                
                &::after {
                    opacity: 0;
                    content: "";
                    width: 170px;
                    height: 60px;
                    background-image: url(../src/img/brif.svg);
                    background-position: center;
                    background-size: contain;
                    position: absolute;
                    top: -40px;
                    left: 50%;
                    transform: translateX(125px);
                    transition: all .3s;
                }
            }

            &:hover {

                &::after {
                    opacity: 1;
                }
            }

        }

        &-consult {

            @media(min-width: 768px) {

                &::after {
                    opacity: 0;
                    content: "";
                    width: 250px;
                    height: 60px;
                    background-image: url(../src/img/consult.svg);
                    background-position: center;
                    background-size: contain;
                    position: absolute;
                    top: -30px;
                    left: 50%;
                    transform: translateX(-380px);
                    transition: all .3s;
                }
            }

            &:hover {

                &::after {
                    opacity: 1;
                }
            }

        }
    }
}

@keyframes shadow {
    from {transform: scale(1);}
    50% {transform: scale(1.2);}
    to {transform: scale(1);}
}

@keyframes shadow2 {
    from {transform: scale(1.2);}
    50% {transform: scale(1);}
    to {transform: scale(1.2);}
}

.footer {
    padding: 20px 0;
    background: #D8D8D8;

    &__nav {
        @media(min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
    }

    .links {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;

        @media(min-width: 1200px){
            width: 30%;
            justify-content: flex-start;
        }

        a {

            span {
                width: 45px;
                height: 35px;
                display: inline-block;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;

                @media(min-width: 1200px){
                    margin-right: 15px;
                }
            }
        }

        &-you {
            background-image: url("../src/img/you.svg");
        }
        
        &-face {
            background-image: url("../src/img/face.svg");
        }
        
        &-vk {
            background-image: url("../src/img/vk.svg");
        }

        &-inst {
            background-image: url("../src/img/inst.svg");
        }

    }

    &__adress  {
        text-align: center;
        margin-bottom: 20px;

        @media(min-width: 1200px){
            font-size: 28px;
            width: 33%;
        }
    }

    &__email {
        text-align: center;
        margin-bottom: 20px;

        a {
            text-decoration: none;
            color: #000;

            @media(min-width: 1200px){
                font-size: 26px;
                width: 30%;
            }
            
        }

        @media(min-width: 1200px){
            width: 30%;
        }
    }

    &__copyr {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        @media(min-width: 1200px){
            flex-direction: row;
            justify-content: flex-start;
        }

        & .copyr__tel {

            a {
                text-decoration: none;
                color: #000;
                font-size: 20px;

                @media(min-width: 1200px){
                    font-size: 26px;
                }
            }
        }

        & .copyr__text {
            color: #000;
            font-size: 14px;

            @media(min-width: 1200px){
                font-size: 20px;
                padding-right: 105px;
            }
        }

        & .copyr__icon {

            @media(min-width: 1200px) {
                padding-left: 25px;
                padding-right: 230px;
            }

            a {

                span {
                    width: 45px;
                    height: 35px;
                    display: inline-block;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
    
                    @media(min-width: 1200px){
                        margin-right: 15px;
                    }
                }
            }
    
            &-viber {
                background-image: url("../src/img/viber.svg");
            }

            &-whatsapp {
                background-image: url("../src/img/whatsapp.svg");
            }

            &-teleg {
                background-image: url("../src/img/teleg.svg");
            }

        }

    }

}


.modal {
    display: none;

    &__bg {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #45434375;
        z-index: 5;
        cursor: pointer;
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        /* z-index: 6; */
    }

    form {
        background-image: url("../src/img/black.svg");
        width: 300px;
        height: 300px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 300px;
        height: 300px;
        z-index: 10;
        position: relative;
        padding: 20px 50px;


        @media(min-width: 768px) {
            width: 435px;
            height: 390px;
            background-image: url("../src/img/black2.svg");
        }

        input {
            position: relative;
            z-index: 9;
            /* padding: 20px 50px; */
        }

        &::after {
            content: "";
            width: 290px;
            height: 290px;
            background-image: url(../src/img/white.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            position: absolute;
            left: 5px;
            top: 5px;

            @media(min-width: 768px) {
                width: 455px;
                height: 385px;
                background-image: url("../src/img/white2.svg");
                top: 2px;
                background-size: contain;
                left: -10px;
            }
        }
    }
}

.content {

    &__title {
        font-size: 16px;
        color: #000;
        position: relative;
        z-index: 5;
        font-size: 20px;
        width: 100%;
        border-bottom: 1px solid #DEDEDE;
        margin-bottom: 25px;
    }

    &__input {
        position: relative;
        z-index: 5;
        margin-bottom: 10px;
        font-family: Determination;

        @media(min-width: 768px) {
            margin-bottom: 25px;
        }
        
        input {
            width: 100%;
            border: 1px solid #DEDEDE;
            border-radius: 5px;
            font-size: 14px;
            /* padding: 5px 10px; */
            font-family: Determination;
            border-bottom: 1px solid #A2A2A3;
            height: 25px;
            padding-left: 10px;
        }

        &-btn  {
            text-align: right;
            margin-bottom: 0px;

            input {
                background-image: url("../src/img/btnsend.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 170px;
                height: 30px;
                cursor: pointer;
                max-width: 255px;
                color: #FFF;
                font-size: 16px;
                background-color: transparent;
                border: none;

                @media( min-width: 1024px) {
                    font-size: 20px;
                    width: 195px;
                    height: 40px;
                }
            }
            
        }
    }
}

.reviews {
    display: none;
    position: relative;
    z-index: 5;
    text-align: left;
    font-size: 18px;
    color: rgba(5, 5, 5, .79);

    @media(min-width: 1200px) {
        font-size: 28px;
    }
}